.message {
    display: flex;
    gap: 20px;
    margin-bottom: 1.25rem;
}

.messageInfo {
    display: flex;
    flex-direction: column;
    color: grey;
    font-weight: 100;
}
.messageInfo img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.messageContent {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.messageContent img {
    width: 50%;
}

.messageContent p {
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0px 10px 10px 10px;
    max-width: max-content;
}

.message.owner {
    flex-direction: row-reverse;
}

.message.owner p {
    background-color: #4b98afa3;
    color: white;
    border-radius: 10px 0px 10px 10px;

}