.chat__home {
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat__home-container {
    border: 1px black solid;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

@media screen and (max-width:360px) {
    .chat__home-container {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
}