.chat__navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background-color: #34748877;
    border:none;
}

.chat__logo {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.chat__navbar-user {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    font-size: 1.5rem;
    align-items: center;
}

.chat__navbar-user img {
    background-color: rgb(203, 213, 55);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.chat__navbar-user button {
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem;
    background-color: #0a7b8a;
    color: white;
    cursor: pointer;
}

@media screen and (max-width:360px) {
    .chat__logo {
        display: none;
    }
    .chat__navbar-user{
       width: 100%;
        display: flex;
    }
    .chat__navbar-user span {
        flex: 3;
    }
}