@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');

*{
    font-family: 'Philosopher', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #97c0d3d2;
    --text-color: #4b98afcc;
}